In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
st = """The quick brown fox jumps over the lazy dog. 
My email is john.doe@example.com. 
My other email is random_student@university.edu.  
The date is 03/05/2024. 
The textbook will cost $30. It should be less than 40€.
This is a sample phone number (123) 456-7890.
Here is another sample (987)654-3210.
Provo's lat/lon coordinates are 40.2338N111.6585W"""

1. Find all the digits in the string `st`.

In [ ]:
re.findall('\d', st)

2. Find all the phone numbers of the form `(XXX) XXX-XXXX` or `(XXX)XXX-XXXX` in the string `st`.

In [11]:
pattern = '\(\d{3}\) \d{3}-\d{4}'
re.findall(pattern, st)

['(123) 456-7890']

3. Find all the email addresses in the string `st`.

In [21]:
pattern = '\w\w\S+\W*\w*@\w*.\w*'
re.findall(pattern, st)

['john.doe@example.com', 'random_student@university.edu']

4. Create a regex pattern that extracts the year from a date formatted as `MM/DD/YYYY`.  Apply your pattern to the string `st`.

In [22]:
pattern = '\w\w/\w\w/(\w{4})'
re.findall(pattern, st)

['2024']

5.  Find all the values in `st` that represent currency in US Dollars.

In [25]:
pattern = '\$\w+'
re.findall(pattern, st)

['$30']

6. Find all the values `st` that represent currency in Euros (€)

In [26]:
pattern = '\w+€'
re.findall(pattern, st)

['40€']

7. Extract the latitude and longitude from `st`.

In [33]:
pattern = '\d+\.\d+\w\d+\.\d+\w'
re.findall(pattern, st)

['40.2338N111.6585W']

8. Replace all the vowels in `st` with the character `*`

In [38]:
pattern = '[aeiouAEIOU]'
re.sub(pattern, '*', st)

"Th* q**ck br*wn f*x j*mps *v*r th* l*zy d*g. \nMy *m**l *s j*hn.d**@*x*mpl*.c*m. \nMy *th*r *m**l *s r*nd*m_st*d*nt@*n*v*rs*ty.*d*.  \nTh* d*t* *s 03/05/2024. \nTh* t*xtb**k w*ll c*st $30. *t sh**ld b* l*ss th*n 40€.\nTh*s *s * s*mpl* ph*n* n*mb*r (123) 456-7890.\nH*r* *s *n*th*r s*mpl* (987)654-3210.\nPr*v*'s l*t/l*n c**rd*n*t*s *r* 40.2338N111.6585W"

## Regular expressions (and other cleaning tasks) with DataFrames

Load the data:
```python
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)
```

1. Extract the first and last names from the "name" column and create two new variable called "first_name" and "last_name"
2. Extract the area code from the phone number column and create a new variable called "area_code" (assume the area code is always the first 3 digits)
3. Extract the year from the "birthdate" column and create a new variable called "birthyear"
4. Create a columns that is the height in inches
5. Create a column that contains the domain of the email addresses (e.g. "yahoo.com")
6. Extract the city and state from the "mailing_address" and create three new variables called "city", "state", and "zipcode"
7. Keep only the new variables that you created in (1.) - (6.) Your final dataset should look something like this:


| first_name | last_name | area_code | birthyear| ht_in| domain | city | state | zipcode |
|------------|-----------|-----------|----------|-------|-------|--------|-----|---------|
| Ryan | Wilkins | 851 | 1959 | 74 | hotmail.com | Port Victoria | MN | 71782

In [3]:
url = 'https://github.com/esnt/Data/raw/main/MessyData/employeedata.csv'
df_employee = pd.read_csv(url)

In [4]:
df_employee['name'].str.lower() #str vectorizes the string

0         ryan wilkins
1        sierra turner
2           lydia wood
3         sherri smith
4         jeremy owens
5         angel graves
6      michael johnson
7     rebecca morrison
8        jeffrey riley
9      tiffany vincent
10      alison herring
11     kimberly peters
12        thomas jones
13       emily gilbert
14       michael baker
15        jacob tucker
16       nicole hardin
17    kevin hutchinson
18        ashley brown
19       julie alvarez
Name: name, dtype: object

In [5]:
df_employee['name'].apply(lambda x: x.split()[0])

0         Ryan
1       Sierra
2        Lydia
3       Sherri
4       Jeremy
5        Angel
6      Michael
7      Rebecca
8      Jeffrey
9      Tiffany
10      Alison
11    Kimberly
12      Thomas
13       Emily
14     Michael
15       Jacob
16      Nicole
17       Kevin
18      Ashley
19       Julie
Name: name, dtype: object

In [6]:
df_employee.apply(lambda x: x['name'].split()[0], axis = 1) #do things to more than one column

0         Ryan
1       Sierra
2        Lydia
3       Sherri
4       Jeremy
5        Angel
6      Michael
7      Rebecca
8      Jeffrey
9      Tiffany
10      Alison
11    Kimberly
12      Thomas
13       Emily
14     Michael
15       Jacob
16      Nicole
17       Kevin
18      Ashley
19       Julie
dtype: object