In [1]:
import pandas as pd
import numpy as np
import requests
import re
import urllib.parse
import matplotlib.pyplot as plt
import seaborn as sns

## Official Joke API

Generates random jokes (from jokes submitted to API)

[Documentation](https://github.com/15Dkatz/official_joke_api)

In [2]:
##baseurl
base_url = "https://official-joke-api.appspot.com/"

#### 10 random jokes

In [3]:

# endpoint for 10 random jokes
endpoint = 'random_ten'
url = base_url + endpoint

In [4]:
## What does it look like if you visit this url?
url

'https://official-joke-api.appspot.com/random_ten'

In [5]:
r = requests.get(url)

In [6]:
r.status_code

200

In [7]:
r.json()

[{'type': 'general',
  'setup': 'Why do mathematicians hate the U.S.?',
  'punchline': "Because it's indivisible.",
  'id': 354},
 {'type': 'general',
  'setup': 'When do doctors get angry?',
  'punchline': 'When they run out of patients.',
  'id': 285},
 {'type': 'general',
  'setup': 'What was the pumpkin’s favorite sport?',
  'punchline': 'Squash.',
  'id': 268},
 {'type': 'general',
  'setup': 'What do you call someone with no nose?',
  'punchline': 'Nobody knows.',
  'id': 227},
 {'type': 'general',
  'setup': 'What do you call a singing Laptop?',
  'punchline': 'A Dell',
  'id': 7},
 {'type': 'general',
  'setup': 'What kind of music do welders like?',
  'punchline': 'Heavy metal.',
  'id': 381},
 {'type': 'general',
  'setup': 'Why did Dracula lie in the wrong coffin?',
  'punchline': 'He made a grave mistake.',
  'id': 317},
 {'type': 'general',
  'setup': 'What do you do on a remote island?',
  'punchline': 'Try and find the TV island it belongs to.',
  'id': 229},
 {'type': 'general',
  'setup': 'Why are fish so smart?',
  'punchline': 'Because they live in schools!',
  'id': 304},
 {'type': 'general',
  'setup': 'Did you know that protons have mass?',
  'punchline': "I didn't even know they were catholic.",
  'id': 104}]

In [8]:
pd.json_normalize(r.json())

,type,setup,punchline,id
0,general,Why do mathematicians hate the U.S.?,Because it's indivisible.,354
1,general,When do doctors get angry?,When they run out of patients.,285
2,general,What was the pumpkin’s favorite sport?,Squash.,268
3,general,What do you call someone with no nose?,Nobody knows.,227
4,general,What do you call a singing Laptop?,A Dell,7
5,general,What kind of music do welders like?,Heavy metal.,381
6,general,Why did Dracula lie in the wrong coffin?,He made a grave mistake.,317
7,general,What do you do on a remote island?,Try and find the TV island it belongs to.,229
8,general,Why are fish so smart?,Because they live in schools!,304
9,general,Did you know that protons have mass?,I didn't even know they were catholic.,104

#### Joke by id

In [9]:
## endpoint for joke by id

endpoint = 'jokes/25'
r = requests.get(base_url+endpoint)
r.ok

True

In [10]:
r.json()

{'type': 'programming',
 'setup': 'How many programmers does it take to change a lightbulb?',
 'punchline': "None that's a hardware problem",
 'id': 25}

## Zippopotam API

Postal code lookup.

Endpoints:
* Places by postal code `/{country}/{postalcode}`
* Postal codes by place `/{country}/{state}/{place}`
* Places near postal code `/nearby/{country}/{postalcode}`

[Documentation](https://docs.zippopotam.us/docs/getting-started/) and also [this page](https://www.zippopotam.us/)

In [11]:
base_url = 'https://api.zippopotam.us'

#### places by postal code

In [12]:
# places by postal code
options = ["us", "84602"] # ["county", "postalcode"]
url = f"{base_url}/{'/'.join(options)}"
url

'https://api.zippopotam.us/us/84602'

In [13]:
r = requests.get(url)
r.ok

True

In [14]:
r.json()

{'post code': '84602',
 'country': 'United States',
 'country abbreviation': 'US',
 'places': [{'place name': 'Provo',
   'longitude': '-111.7325',
   'state': 'Utah',
   'state abbreviation': 'UT',
   'latitude': '40.3563'}]}

#### Postal codes by place

In [15]:
options = ["us", "tx", "houston"]

## This line will ensure that the url is formed correctly (for example if there are spaces)
encoded_options = [urllib.parse.quote(option) for option in options]
url = f"{base_url}/{'/'.join(encoded_options)}"
r = requests.get(url)
r.ok

True

In [16]:
r.json().keys()

dict_keys(['country abbreviation', 'places', 'country', 'place name', 'state', 'state abbreviation'])

In [17]:
pd.json_normalize(r.json().get('places'))

        place name longitude post code latitude
0          Houston  -95.3098     77001  29.8131
1          Houston  -95.3594     77002  29.7594
2          Houston  -95.3391     77003  29.7489
3          Houston  -95.3625     77004  29.7247
4          Houston  -95.4263     77005  29.7179
..             ...       ...       ...      ...
188        Houston  -95.4342     77297   29.834
189        Houston  -95.4342     77298   29.834
190        Houston  -95.4342     77299   29.834
191  North Houston  -95.4342     77315   29.834
192  South Houston  -95.2258     77587  29.6601

[193 rows x 4 columns]

In [18]:
## Try another place
options = ["us", "mo", "saint louis"]

## This line will ensure that the url is formed correctly (for example if there are spaces)
encoded_options = [urllib.parse.quote(option) for option in options]
url = f"{base_url}/{'/'.join(encoded_options)}"
r = requests.get(url)
print(r.status_code)
print(r.url)

200
https://api.zippopotam.us/us/mo/saint%20louis

In [19]:
pd.json_normalize(r.json().get('places'))

          place name longitude post code latitude
0        Saint Louis  -90.1913     63101  38.6346
1        Saint Louis  -90.1864     63102  38.6352
2        Saint Louis  -90.2164     63103  38.6332
3        Saint Louis  -90.2185     63104  38.6128
4        Saint Louis  -90.3264     63105  38.6459
..               ...       ...       ...      ...
68       Saint Louis  -90.2435     63196  38.6531
69       Saint Louis  -90.2435     63197  38.6531
70       Saint Louis  -90.4271     63198  38.6383
71       Saint Louis  -90.2435     63199  38.6531
72  Lake Saint Louis  -90.7854     63367  38.7936

[73 rows x 4 columns]

## Free Geocoding API

[Documentation](https://geocode.maps.co/)

* The endpoints show that the query parameters should be entered as url parameters (indicated by the `?` in the url)
* We can easily specify the query options using the `params` argument in the `.get` method
* In order to do this, set up a dictionary such that 
    * the key is the parameter name (indicated in the documentation)
    * the value is the our query choice
* `requests.get()` will automatically make sure that our parameters are formatted into valid urls

Endpoints:
* Forward geocode (`https://geocode.maps.co/search?q={address}`)

In [ ]:
base_url = "https://geocode.maps.co"
forward = '/search'

params = {'q':'709 Smith Road Fremont OH 43420'}

r = requests.get(base_url + forward, params = params)
print(r.status_code)
print(r.url)

In [ ]:
r.json()

Endpoints
* Reverse geocode (`https://geocode.maps.co/reverse?lat={latitude}&lon={longitude}`)

In [ ]:
reverse = '/reverse'

params = {'lat': '41.299294', 'lon': '-83.091367'}

r = requests.get(base_url + reverse, params = params)
print(r.status_code)
print(r.url)

In [ ]:
r.json()

## NASA APOD API

[NASA APIs](https://api.nasa.gov/).  
* Sign up for an API key by filling out the form
* Check your email for the API key
* Create a .txt file and save *just the text of the api key* in the file
    * For example, in the code below, my API key is saved in a file called "`nasa_api_key.txt`"

#### APOD Query Parameters

| Parameter   | Type        | Default   | Description                                                                                                      |
|-------------|-------------|-----------|------------------------------------------------------------------------------------------------------------------|
| date        | YYYY-MM-DD  | today     | The date of the APOD image to retrieve                                                                           |
| start_date  | YYYY-MM-DD  | none      | The start of a date range, when requesting date for a range of dates. Cannot be used with date.                   |
| end_date    | YYYY-MM-DD  | today     | The end of the date range, when used with start_date.                                                            |
| count       | int         | none      | If this is specified then count randomly chosen images will be returned. Cannot be used with date or start_date and end_date. |
| thumbs      | bool        | False     | Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.                          |
| api_key     | string      | DEMO_KEY  | api.nasa.gov key for expanded usage                                                                              |

Example query:
```
https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY
```

In [ ]:
base_url = "https://api.nasa.gov/planetary/apod"

In [ ]:
# set the text of my api key to a variable called `nasa_key`
with open('nasa_api_key.txt', 'r') as file:
    nasa_key = file.read()

Let's query all the APODs from Oct 1, 2023 - Oct 7, 2023
* The documentation specifies that query parameters should be entered as url parameters (indicated by the `?` in the url)
* We can easily specify the query options using the `params` argument in the `.get` method
* In order to do this, set up a dictionary such that 
    * the key is the parameter name (indicated in the documentation)
    * the value is the our query choice
* `requests.get()` will automatically make sure that our parameters are formatted into valid urls

In [ ]:
params = {'api_key':nasa_key,
          'start_date': '2023-10-01',
          'end_date': '2023-10-07'}

In [ ]:
r = requests.get(base_url, params=params)

In [ ]:
r.url

In [ ]:
r.status_code

## Exchange Rates API

[Documentation](https://apilayer.com/marketplace/exchangerates_data-api)

Sign up for an API key:
* Go to [https://apilayer.com/marketplace/exchangerates_data-api](https://apilayer.com/marketplace/exchangerates_data-api)
* You'll have to verify your email address and sign in
* If you are taken back to the main page, search for "exchange rates" and click on "Exchange Rates Data API"
* Under Pricing, find "Free Plan" and click "Subscribe"
* If everything went well, you should then see a screen that says "Subscription successful" and "Your API Key"
* Copy your API key to the clipboard and then save it in a .txt file (choose a sensible name for the file like "`exchange_rates_apikey.txt`")
* **NEVER NEVER NEVER post your API key in a public place.  Anytime you use Git or GitHub with any API key, include the file with the key information in the `.gitignore` file**

### Authenticating 

The NASA API, wanted us to authenticate with the api-key as a parameter in the url.  However, the documentation for this API says that the API key should be specified in a **header**.
* Headers provide metadata about the request or response.  Some APIs (such as this one) require that the API key be specified in a header. 
    * Headers might also contain content type, return data type, user-agent, etc.  Generally the API documentation will specify 


### Endpoints
* `/convert`
* `/fluctuation`
* `/latest`
* `/symbols`
* `/timeseries`
* `/{date}`

Each endpoint has its own parameters (or sometimes no parameters).  As with many API endpoints, some parameters are required and others are optional.


#### Example
For example, let's look at the `/convert` endpoint.  There are three required parameters and one optional:
* amount (required) - amount to be converted
* from (required) - three-letter currency code for the currency you would like to convert from
* to (required) - three-letter currency code for the currency you would like to convert to
* date (optional) - specify a date to use historical rates (default is latest)

In [ ]:
## First, get the api key
with open('exchange_rates_apikey.txt', 'r') as file:
    apikey = file.read()

In [ ]:
# set up the headers
headers= {
  "apikey": apikey
}

In [ ]:
# specify base_url and endpoint url (or this could be done in one step)
base_url = "https://api.apilayer.com/exchangerates_data"
endpoint = '/convert'
url = base_url + endpoint

In [ ]:
# set up parameters.  I'm going to specify 35 Euros to US Dollars for Oct 8, 2023
params = {'amount':'35',
          'from':'EUR',
          'to':'USD',
          'date': '2023-10-08'}

In [ ]:
r = requests.get(url, headers=headers, params=params)
print(r.ok)
print(r.url)

In [ ]:
r.json()

## Wikipedia API

[API Documentation](https://www.mediawiki.org/wiki/API:Main_page)

Some APIs (and websites) want you to specify who you are through a `user-agent` parameter.  This can be the browser user-agent, but it can also be just a description of your project.  

The Wikipedia API requests that you specify the user-agent per their [policy](https://meta.wikimedia.org/wiki/User-Agent_policy).  The basic format is `Project name (email@email.com)`

In [ ]:
user_agent = 'Practice with APIs for Stat 386/0.0 (esnt@byu.edu)'
headers = {'User-Agent':user_agent}

In [ ]:
base_url = "https://en.wikipedia.org/w/api.php"
params = {'action':'query',
          'list':'search',
          'srsearch': 'Star Wars',
          'format': 'json'}

In [ ]:
r = requests.get(base_url, params=params)

In [ ]:
r.text

## The Movie Database (TMDb)

[Website](https://www.themoviedb.org/?language=en-US) and [API Documentation](https://developer.themoviedb.org/docs)

In [ ]:
base_url = "https://api.themoviedb.org/3/search/movie"

with open('tmdb_api_key.txt', 'r') as file:
    apikey = file.readlines()[1].strip()

In [ ]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer " + apikey}

In [ ]:
results = []
for page in range(1,10,1):

    params = {'include_adult':'false',
            'language':"en-US",
            'query':'Star Wars',
            'page': str(page)}
    
    response = requests.get(base_url, headers=headers, params=params)

    print(response.status_code)
    if response.ok:
        results.extend(response.json()['results'])

In [ ]:
sw = pd.DataFrame(results)
sw = sw[['original_title','popularity','release_date','title','vote_average','vote_count']]

In [ ]:
sw.sort_values(by='popularity', ascending=False).head(10)

In [ ]:
sw[sw.vote_count>500].sort_values(by='vote_average', ascending=False).head(10)