In [1]:
import pandas as  pd
import numpy as np

In [3]:
x = [1,2,3,4,5]
y = ["California", "Utah", "Texas","Georgia", "New York"]
z = [1980, 1990, 1930, 1920, 1945]

In [5]:
df = pd.DataFrame({"number": x,
                   "State": y,
                   "year": z})
df

   number       State  year
0       1  California  1980
1       2        Utah  1990
2       3       Texas  1930
3       4     Georgia  1920
4       5    New York  1945