## Practice with Pandas Titanic Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_openml

In [2]:
## Titanic data
dat = fetch_openml(data_id=40945, parser='auto')
df = dat.frame


1.  How many entries are there in the dataset?

In [4]:
df.head()
df.info() #1309

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   category
 2   name       1309 non-null   object
 3   sex        1309 non-null   category
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   category
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: category(3), float64(3), int64(3), object(5)
memory usage: 116.8+ KB


2.  What variables have missing values?  How many missing values?  Are there any columns that have only missing values?

In [5]:
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64


3.  Select the rows where `embarked` equals "S".

In [6]:
df[df["embarked"] == "S"]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,3,0,"Windelov, Mr. Einar",male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,0,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

4.  How many unique values are there in `home.dest`?  What are the three most common values?

In [7]:
df.nunique() #369

pclass          3
survived        2
name         1307
sex             2
age            98
sibsp           7
parch           8
ticket        929
fare          281
cabin         186
embarked        3
boat           27
body          121
home.dest     369
dtype: int64

5.  What is the lowest fare paid?  How many people paid that amount?

In [25]:
df["fare"].value_counts()

fare
8.0500     60
13.0000    59
7.7500     55
26.0000    50
7.8958     49
           ..
15.0500     1
9.6875      1
15.5792     1
12.0000     1
7.8750      1
Name: count, Length: 281, dtype: int64

6.  Drop the `name` column

In [29]:
df.drop("name", axis = 1, inplace = True)

7.  Create a new column that adds the values of `sibsp` and `parch`.

In [30]:
df["new"] = df["sibsp"] + df["parch"]

8.  Fill in the missing values of age using forward fill.  What is the mean after filling?

In [38]:
df["age"].fillna()

ValueError: Must specify a fill 'value' or 'method'.

9.  Fill in the missing values of age using the mean of that column?  Now what is the mean?

In [ ]:
df["age"].fillna(df["age"].mean())
df["age"].mean()

10.  What is the name, sex, and age of the person that paid the highest fare?

11.  What is the average fare paid?

AttributeError: 'Series' object has no attribute 'summary'


12.  What is the average fare paid in each of the `pclass` categories?


13.  What proportion of people in each of the `pclass` categories survived?


14.  Drop all the rows in which there is a missing value for both `cabin` and `home.dest`.  How many rows remain?